<html>
  <head>
    <title>Jinaviard</title>
    <link
      rel="icon"
      href="https://cdn.glitch.com/b9b52e5f-af8d-466e-8e0d-3808a48ecad2%2Fmap_icon.png?v=1594178116812"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style_intro.css" />
    <script src="script.js" defer></script>
  </head>

  <body onload="initApp()">
    <div id="black">
      <span><h2 id="leftCorner">Jinaviard</h2></span>
      <div id="rc">
        <span style="margin-right: 20%;">
          <a href="/" style="color: gray; text-decoration: none;">
            <h2 class="nav-item">Home</h2></a>
        </span>
        <span><h2>Play</h2></span>
      </div>
    </div>

    <br />

    <div class="container">
      <!-- First Row -->
      <br> <br>
      <div class="row">
        <div class="col-lg-3 align">
          <img id="pic" src="https://i.pinimg.com/originals/12/71/17/127117663df6c95a628ce1411b08b364.jpg"/>
        </div>

        <div class="col-xl-2">
          <!-- empty on purpose to provide space -->
        </div>

        <div class="col-xl-7 resize">

          <h1 id="welcomeText"></h1>

          <br />

          <p class="text">
            As the prophecy foretold, the Dark Lord was revived, and he threatened to destroy the world. 
            It is up to the heroes to save this world from him and his army.
            <br><br>
            Though powerful, the Dark Lord cannot take on the world alone, thus, there will be time for 
            both sides to prepare before the clash.
            <br><br>
            As one of the strongest heroes alive, you are summoned for a battle plan meeting with King Dartheem.
          </p>
        </div>
      </div>
    </div>

    
    <button id="cont" onclick="nameRedirect('play')">Continue</button>
  </body>
</html>
