<html>
  <head>
    <title>Jinaviard</title>
    <link
      rel="icon"
      href="https://cdn.glitch.com/b9b52e5f-af8d-466e-8e0d-3808a48ecad2%2Fmap_icon.png?v=1594178116812"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style_intro.css" />
    <script src="script.js" defer></script>
  </head>

  <body onload="initApp()">
    <div id="black">
      <span><h2 id="leftCorner">Jinaviard</h2></span>
      <div id="rc">
        <span style="margin-right: 20%;">
          <a href="/" style="color: gray; text-decoration: none;">
            <h2 class="nav-item">Home</h2></a>
        </span>
        <span><h2>Play</h2></span>
      </div>
    </div>
