<html>
    <head>
        <title>Jinaviard</title>
        <link rel="icon" href="https://cdn.glitch.com/b9b52e5f-af8d-466e-8e0d-3808a48ecad2%2Fmap_icon.png?v=1594178116812"/>
      
        <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style_playUI.css">
        <script src="script.js" defer></script>
    </head>
    
    <body onload="initApp()">
      <div id="black">
          <span><h2 id="leftCorner">Jinaviard</h2></span>
          <div id="rc">
              <span style="margin-right: 20%;"><a href="/" style="color: gray; text-decoration: none"><h2 class="nav-item">Home</h2></a></span>
              <span style="cursor: default;"><h2>Play</h2></span>

          </div>
      </div>
        <!-- First row -->
      <div class="row" style="height: 100%;">
          <div class="col-sm-5 lightblue">
              <br>
              <br>
              <br>
              <div style="height: 66vh;">
                  <img id="settingImg" src="https://static4.comicvine.com/uploads/original/11131/111312239/5718270-9590475147-sts-b.jpg">
                
                  <div class="settingInfo">
                      <h3 id="settingName" style="margin-top: 5px;"></h3>
                    
                      <p id="settingDesc"></p>
                  </div>
                  <div class="gear">
                      <h3 id="playerName" style="padding: 10px; margin-left: 18px;">[player name]</h3>

                      <!-- item icons -->
                      <div class="items">
                        <!-- add images here (use class "item") -->

                      </div>
                </div>
              </div>
          </div>
          </body>
        </html>
